@page
@model LearnIdentity.Pages.Member.ChangePasswordModel
@{
    Layout = "Shared/_MemberLayout";
}
<h2>Şifre Değiştirme</h2>
<hr />

@if (TempData["result"].ToString() == "success")
{
    <div class="alert alert-info">
        Şifreniz Güncellenmiştir.
    </div>

}
 else
{
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Model.PasswordOld" class="control-label"></label>
                    <input asp-for="Model.PasswordOld" class="form-control" />
                    <span asp-validation-for="Model.PasswordOld" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model.PasswordNew" class="control-label"></label>
                    <input asp-for="Model.PasswordNew" class="form-control" />
                    <span asp-validation-for="Model.PasswordNew" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model.PasswordConfirm" class="control-label"></label>
                    <input asp-for="Model.PasswordConfirm" class="form-control" />
                    <span asp-validation-for="Model.PasswordConfirm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Şifre değiştir" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}