@page
@model LearnIdentity.Pages.Admin.RolesModel
@{
    Layout = "Shared/_AdminLayout";
}

<h3>Roller</h3>
<hr />
<table class="table table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Rol ismi</th>
        <th>Rol Sil</th>
    </tr>

    @foreach (var item in Model.Roles)
    {
        <tr>

            <th>@item.Id</th>
            <th>@item.Name</th>
            <th>
                <form asp-route-id="@item.Id" method="post">
                    <button class="btn btn-warning" type="submit">sil</button>
                </form>
            </th>
        </tr>

    }
</table>

<a  asp-page="/Admin/CreateRole" class="btn btn-info">Role Oluştur</a> 