@page
@model LearnIdentity.Pages.MemberTransactions.ResetPasswordModel
@{
}

<div class="row">
@if (TempData["result"].ToString() == "success")
{
    <div class="col-md-4">
         <div class="alert alert-info">Şifreniz başarıyla sıfırlanmıştır , Yeni şifreniz ile giriş yapabilirsiniz</div>
         <a class="btn btn-link"  asp-page="/LogIn" >Giriş İçin Tıklayınız</a>
    </div>
}


else
{
    <div class="col-md-12">
        <div class="col-md-4">
            <label class="alert-info">Güncellemek istediğiniz yeni şifrenizi giriniz</label>
        </div>
    </div>
    <div class="col-md-4">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post" >
           <div class="form-group">
               <label asp-for="Model.Password"></label>
               <input asp-for="Model.Password" class="form-control" />
               <span asp-validation-for="Model.Password" class="text-danger"></span>
           </div>
           <div class = "form-group">
               <input type="submit"  value="Değiştir" />
           </div>
        </form>
    </div>
}
</div>